// background 

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.bg-linear-primary {
    background: $dark url('../images/background.png') no-repeat center center;
    background-size: cover;
    // background: linear-gradient(to bottom, #d1a769 0%, #7a5831 70%, #14100d 100%);
}

// icon fill

.fill-primary-900 {
    fill: $primary-900;
}