// card
// .roundedCard-floatLight {
//     background: linear-gradient(104.36deg, rgba(255, 255, 255, 0.8) -0.49%, rgba(255, 255, 255, 0.6) 100%);
//     border: 1px solid;
//     border-image-source: linear-gradient(104.04deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 100%);
//     box-shadow: 0px 4px 25px -1px #FFFFFF40;
//     border-radius: $border-radius-sm;
//     max-width: 344px;
//     padding: map-get($spacers , 4);
//     display: flex;
//     flex-direction: column;

//     img {
//         width: 300px;
//         // height: 300px;
//         align-self: center;

//     }

//     @include media-breakpoint-down(md) {
//         max-width: 375px;

//         img {
//             width: 200px;
//             // height: 200px;
//         }
//     }
// }
// wrapper
.roundedWrapper {
    border-radius: $border-radius-lg;
    padding: map-get($spacers, 4);
    display: flex;
    flex-direction: column;

    // gap: map-get($spacers, 3);
    &.roundedBadge {
        font-weight: $font-weight-semibold;
        font-size: map-get($font-sizes, 5);
        text-align: center;
        width: 500px;

        @include media-breakpoint-down(sm) {
            font-size: map-get($font-sizes, c0);
            width: 279px;
        }
    }
}

.bg-neutral-translucent {
    background: linear-gradient(104.36deg, rgba(255, 255, 255, 0.8) -0.49%, rgba(255, 255, 255, 0.6) 100%);
    border: 1px solid;
    border-image-source: linear-gradient(104.04deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(40px);
    box-shadow: 0px 4px 25px -1px #FFFFFF40;
}

// card
.roundedCard {
    border-radius: $border-radius-sm;
    max-width: 344px;
    padding: map-get($spacers , 4);
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        max-width: 300px;
        // height: 300px;
        align-self: center;

    }

    @include media-breakpoint-down(md) {
        max-width: 375px;

        img {
            width: 100%;
            max-width: 200px;
            // height: 200px;
        }
    }
}

.rounded-titleCard {
    border-radius: $border-radius-lg;
    display: flex;
    flex-direction: column;
    position: relative;

    .heart-btn {
        padding: map-get($spacers, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: map-get($spacers, 4);
        right: map-get($spacers, 4);

        i.bi {
            color: $light;
            font-size: map-get($font-sizes, 5);
            font-weight: $font-weight-bold !important;
        }

        &:hover,
        &.active {
            i.bi {
                color: $secondary;
            }
        }



        @include media-breakpoint-down(sm) {
            top: map-get($spacers, 3);
            right: map-get($spacers, 3);
        }
    }

    &.rounded-titleCard-lg {
        padding: map-get($map: $spacers, $key: 2);
        row-gap: map-get($map: $spacers, $key: 3);

        .bookTitle {
            margin-bottom: map-get($spacers, 3);
        }
    }

    &.rounded-titleCard-sm {
        padding: map-get($map: $spacers, $key: 1);
        row-gap: map-get($map: $spacers, $key: 2);

        .bookTitle {
            margin-bottom: map-get($spacers, 2);
        }
    }

    .bookTitle {
        font-size: map-get($font-sizes , 5);
        font-weight: 600;
        text-align: center;
    }
}

// card-bg
.card-bg-neutral-translucent {
    background: linear-gradient(104.36deg, rgba(255, 255, 255, 0.8) -0.49%, rgba(255, 255, 255, 0.6) 100%);
    border: 1px solid;
    border-image-source: linear-gradient(104.04deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 100%);
    box-shadow: 0px 4px 25px -1px #FFFFFF40;
}

.card-bg-neutral {
    background: linear-gradient(103.55deg, rgba(255, 255, 255, 0.8) 0.31%, rgba(255, 255, 255, 0.6) 99.95%);
    border: 1px solid;
    border-image-source: linear-gradient(104.04deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 0px 4px 25px -1px #FFFFFF40;
    backdrop-filter: blur(40px);
}

.transparentCard {
    width: 486px;
    padding: map-get($spacers , c4); //$spacer*2;
    display: flex;
    flex-direction: column;

    img {
        width: 300px;
        align-self: center;
    }

    .context {
        font-size: $h4-font-size;
        font-weight: $font-weight-semibold;
        text-align: center;
        position: relative;

        @include media-breakpoint-down(md) {
            font-size: $t1-font-size;
        }

        &.deco-quote::before,
        &.deco-quote::after {
            content: '';
            background-image: url(../images/decorate/quote-big.png);
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            width: 80px;
            height: 80px;
            position: absolute;

            @include media-breakpoint-down(lg) {
                background-image: url(../images/decorate/quote-small.png);
                width: 60px;
                height: 60px;
            }
        }

        &.deco-quote::before {
            top: 0;
            left: 0;
            transform: translateY(-50%);

            @include media-breakpoint-down(md) {
                transform: translate(32px, -30px);
            }
        }

        &.deco-quote::after {
            top: 100%;
            right: 0;
            transform: translateY(-58px) rotate(180deg);

            @include media-breakpoint-down(md) {
                transform: translate(-32px, -45px) rotate(180deg);
            }
        }
    }

    @include media-breakpoint-down(md) {
        width: 375px;
        padding: map-get($map: $spacers, $key: 3) 0;

        img {
            width: 200px;
        }
    }
}

.transparentCard-serial {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .serialNumber {
        font-size: map-get($display-font-sizes, 5);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;

        &::before {
            content: '';
            background: url('../images/decorate/sparkle.png');
            display: block;
            width: 24px;
            height: 24px;
            margin-right: map-get($map: $spacers, $key: 1);
        }

        @include media-breakpoint-down(md) {
            left: 16px;
        }
    }

    img {
        width: 200px;
        height: 200px;
    }

    &>.cardBody {
        padding: map-get($spacers, 3) map-get($spacers, 4);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardTitle {
        font-size: $h2-font-size;
        margin-bottom: map-get($spacers, 3);

        @include media-breakpoint-down(lg) {
            font-size: $h3-font-size;
        }
    }

    .context {
        font-weight: $font-weight-semibold;
        text-align: center;

        @include media-breakpoint-up(lg) {
            font-size: $h5-font-size;
        }
    }


}

// btn
.rightAngleBtn {
    // padding: $spacer*.75 $spacer*2.25;
    padding: map-get($spacers, c2-lg) map-get($spacers, c4-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: map-get($font-sizes, 5);

    // img[src*=".svg"] {
    //     display: block;
    //     height: 16px;
    //     width: 16px;
    //     margin-left: map-get($spacers, 1);
    // }
    svg {
        margin-left: map-get($spacers, 2);
    }

    @include media-breakpoint-down(md) {
        // padding: $spacer*.5 $spacer*1.5;
        padding: map-get($spacers, 2) map-get($spacers, 4);
    }
}

.roundedBtn {
    border-radius: $border-radius-sm;
    padding: map-get($spacers, c2-lg) map-get($spacers, c4-lg);
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
        // padding: $spacer*.5 $spacer*1.5;
        padding: map-get($spacers, 2) map-get($spacers, 4);
    }
}

.customBtn-primary-200 {
    color: $primary-900;
    background: $primary-200;
    border: none;

    &:hover {
        background: $primary-400;
    }

    &.active {
        color: $dark;
        background: $secondary;
    }
}

.customBtn-secondary-300 {
    color: $dark;
    background: $secondary-300;
    border: none;

    &:hover {
        background: $secondary;
    }

}

.left-bottom-borderBtn-primary {
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: $primary-900 ;
}

// swiper btn 
.circleBtn {
    width: 52px;
    height: 52px;
    padding: map-get($spacers, 2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
        width: 24px;
        height: 24px;
        padding: map-get($spacers, c1-lg) map-get($spacers, 2);
    }

    &.centeredSwiper-prev,
    &.centeredSwiper-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    &.centeredSwiper-prev {
        // left: map-get($spacers, 8);
        // left: calc((100% / 1.85 * 0.42) - 24px);
        left: calc((100% - 48px)/ 1.85 * 0.425 - 24px);

        @include media-breakpoint-down(xl) {
            left: calc((100% - 48px) / 1.5 * 0.25 - 24px);
        }

        @include media-breakpoint-down(sm) {
            left: map-get($spacers, c2-lg);
        }
    }

    &.centeredSwiper-next {
        right: calc((100% - 48px)/ 1.85 * 0.425 - 24px);

        @include media-breakpoint-down(xl) {

            right: calc((100% - 48px) / 1.5 * 0.25 - 24px);
        }

        @include media-breakpoint-down(sm) {
            right: map-get($spacers, c2-lg);
        }
    }
}

.circleBtn-light {
    color: $neutral-600;
    background: $light;
    box-shadow: 4px 4px 10px 0px #00000014;

    &:hover {
        color: $primary-900;
        // background: #46464640;
        background-color: $primary-200;
    }

    &:active {
        color: $light;
        background-color: $primary-400;
    }
}

// pagination樣式
.pill-rounded-pagination {
    text-align: center;
    opacity: 1;

    // background: rgba(0, 0, 0, 0.2);
    .swiper-pagination-bullet {
        width: 24px;
        border-radius: 100px;
        background: $secondary;
    }

    .swiper-pagination-bullet-active {
        background: $primary;
    }
}

.cardSwiper-pagination {
    &.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: auto;
    }
}