.banner {
  min-height: 100vh;
}

.section {
  background: $primary-100;
  padding-top: $spacer *3.75;
  padding-bottom: $spacer *3.75;

  @include media-breakpoint-down(sm) {
    padding-top: $spacer * 2.25;
    padding-bottom: $spacer * 2.25;
  }
}