.loginPage-wrapper {
    background: linear-gradient(104.36deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('../images/banner.png');
    height: 100vh;
}

.loginPort {
    // min-height: 500px;

    // .tab-content {
    //     display: flex;
    //     flex-direction: column;
    //     height: 100%;
    // }

    .tab-pane {
        min-height: 380px;
    }
}

.tabUnderline {
    display: flex;
    flex-wrap: nowrap;

    .nav-item {
        width: 50%;
    }

    .nav-link {
        color: $primary-400;
        text-align: center;

        &:hover {
            color: $primary-900;
        }

    }
}