<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>books</title>
  </head>
  <body>
    <div class="bg-linear-primary" style="height: 80px;"></div>
    <%- include('./layout/header'); -%>
    <section class="section">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h2 class="sectionTitle mb-3 mb-md-c4">上架資訊</h2>
            <div class="row mb-3 mb-md-c4 row-gap-4">
              <div class="col-md-6">
                <div class="d-flex justify-content-center">
                  <div
                    class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
                  >
                    <img
                      src="../assets/images/books/dragonJara_vol5.png"
                      alt="dragonJara_vol_5"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-column align-items-start">
                  <h3 class="mb-3">龍族(vol.5)</h3>
                  <!-- <h4></h4> -->
                  <ul class="books-info list-unstyled">
                    <li>書名：龍族5(星星給予仰望者光芒)</li>
                    <li>出版社：奇幻基地</li>
                    <li>作者：李榮道</li>
                    <li>分類：奇幻</li>
                    <li>書況：9成新</li>
                    <li>交換點數：30</li>
                    <li>關注度：32</li>
                    <li>上架日期：2024/10/18</li>
                    <li>上架方式：時空書店上架</li>
                    <li>推薦指數：5</li>
                  </ul>
                  <div class="d-flex">
                    <button
                      class="roundedBtn customBtn-primary-200 me-3"
                      type="button"
                    >
                      我想收藏
                    </button>
                    <button
                      class="roundedBtn customBtn-primary-200 me-3"
                      type="button"
                    >
                      換書
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-c4" />
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h2 class="sectionTitle mb-3 mb-md-c4">推薦文</h2>
            <div class="context px-3">
              <p>
                《龍族》是一部極具想像力和深度的韓國奇幻小說，融合了現代與傳統奇幻元素。這是一個充滿龍、魔法和冒險的世界，每個角色都具有豐富的性格層次和成長歷程。故事不僅探討了英雄冒險的經典主題，還反映了現實世界中的人性和道德抉擇。其中，我最喜歡的是永恆森林這個象徵著無盡的記憶與時間的場景，透過角色們對於過往的傳說描述，與當下冒險的經歷的呼印，帶出貫穿了整部作品對於人性與種族的探討，相信我，你會看到一個生動而有趣的世界！
              </p>
            </div>
            <hr class="my-c4" />
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h2 class="sectionTitle mb-3 mb-md-c4">留言區</h2>
            <div class="p-4" id="messageBoard">
              <div class="d-flex mb-3">
                <div class="flex-shrink-0">
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt="..."
                    class=" rounded-circle object-fit-cover"
                    style="height: 40px; width: 40px;"
                  />
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>大漠孤煙</p>
                  <p>請問哪裡有賣OPG，也給我來一雙</p>
                  <p>2024-08-01</p>
                </div>
              </div>
              <div class="d-flex mb-3">
                <div class="flex-shrink-0">
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt="..."
                    class=" rounded-circle object-fit-cover"
                    style="height: 40px; width: 40px;"
                  />
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>皮聘</p>
                  <p>店長表示：都在書裡了，自己去尋找吧。</p>
                  <p>2024-08-12</p>
                </div>
              </div>
            </div>
            <div class="px-4">
              <div class="input-group border border-primary-900 rounded-2">
                <input
                  type="text"
                  class="form-control bg-transparent border-0"
                  id="messageContext"
                  placeholder="我也想說..."
                  aria-label="我也想說..."
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn btn-outline-secondary border-0"
                  type="button"
                  id="messageBtn"
                >
                  <i class="bi bi-send-fill"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script>
      const msgContext=document.querySelector('#messageContext');
      const msgSubmit=document.querySelector('#messageBtn');
      const msgBoard=document.querySelector('#messageBoard');
      let message;
      let memberNickname=localStorage.getItem('nickName');
      const addMessage=()=>{
        let contentBox=document.createElement('div');
        contentBox.classList.add('messageContext');
        let boxAvatar=document.createElement('div');
        let memberUrl='https://raw.githubusercontent.com/Mingx1994x/HS_sideProject_zoneBookstore/refs/heads/main/assets/images/drawing/cat.png';
        let avatarHtml=`<div class="flex-shrink-0"><img src=${memberUrl} class="avatar"/></div>`;
        boxAvatar.innerHTML=avatarHtml;
        let boxProfile=document.createElement('div');
        let messageHtml=`<div class="profile flex-grow-1">
                  <p>${memberNickname}</p>
                  <p>${message}</p>
                  <p>剛剛</p>
                </div>`
        boxProfile.innerHTML=messageHtml;
        contentBox.appendChild(boxAvatar);
        contentBox.appendChild(boxProfile);

        return contentBox;
      }

      msgSubmit.addEventListener('click',()=>{
        message=msgContext.value;
        if(!message){
          return;
        } else if(!memberNickname){
          alert('請先登入唷！！！');
          msgContext.value='';
          return
        }
        // console.log(message);
        // console.log(addMessage());
        msgContext.value='';
        msgBoard.appendChild(addMessage());
      });
    </script>
  </body>
</html>
