<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <div
      class="banner bg-cover d-flex justify-content-center align-items-center py-5"
      style="background: linear-gradient(104.36deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('../assets/images/banner.png');"
    >
      <div class="d-flex flex-column px-0 py-c4-1 px-md-c4-1 mt-6">
        <div class="mb-c4">
          <h2
            class="text-light mb-2 text-center d-flex flex-column flex-md-row justify-content-center"
          >
            客人，歡迎來到<span class="text-secondary mb-2 mb-md-0"
              >時空書店</span
            >
          </h2>
          <h2 class="text-light text-center">想要點些什麼呢？</h2>
        </div>
        <div class="d-flex flex-column flex-md-row gap-c4 gap-md-c4-1">
          <div class="roundedCard card-bg-neutral-translucent">
            <img
              src="../assets/images/drawing/delivery.png"
              alt=""
              class="object-fit-cover mb-3"
            />
            <a
              href="#exchangeAnchor"
              class="rightAngleBtn customBtn-primary-200 left-bottom-borderBtn-primary"
              >想捐書
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 8L14.59 6.59L9 12.17V0H7V12.17L1.42 6.58L0 8L8 16L16 8Z"
                  fill="black"
                  class="fill-primary-900"
                />
              </svg>
            </a>
          </div>
          <div class="roundedCard card-bg-neutral-translucent">
            <img
              src="../assets/images/drawing/find.png"
              alt="find"
              class="object-fit-cover mb-3"
            />
            <a
              href="#recommendAnchor"
              class="rightAngleBtn customBtn-primary-200 left-bottom-borderBtn-primary"
              >想找書
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 8L14.59 6.59L9 12.17V0H7V12.17L1.42 6.58L0 8L8 16L16 8Z"
                  fill="black"
                  class="fill-primary-900"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- question -->
    <section class="section">
      <div class="container">
        <h2 class="sectionTitle text-center mb-3 mb-md-c4">
          你有相同的困擾嗎？
        </h2>
        <div class="row mb-3 mb-md-c4">
          <div class="col-md-6">
            <div class="d-flex justify-content-center">
              <div class="transparentCard">
                <img
                  src="../assets/images/drawing/house.png"
                  alt="find"
                  class="object-fit-cover"
                />
                <p class="context deco-quote">
                  家裡的書 <br />
                  留著太佔空間 <br />
                  丟了又嫌可惜嗎？
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-center">
              <div class="transparentCard">
                <img
                  src="../assets/images/drawing/coin.png"
                  alt="find"
                  class="object-fit-cover"
                />
                <p class="context deco-quote">
                  書商來撿書 <br />
                  東挑西揀 <br />
                  卻只願出硬幣價？
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <a
            href="#exchangeAnchor"
            class="rightAngleBtn customBtn-primary-200 left-bottom-borderBtn-primary mx-auto"
            >前往交換
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"
                fill="black"
                class="fill-primary-900"
              />
            </svg>
          </a>
        </div>
      </div>
    </section>

    <!-- activity -->
    <div class="bg-linear-primary py-c4-lg py-lg-8">
      <!-- swiper -->
      <div class="swiper centeredSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="../assets/images/activity-1.png"
              alt="畢業季快到了"
              class="img-fluid rounded-2"
            />
            <div
              class="roundedWrapper roundedBadge bg-neutral-translucent position-absolute top-50 start-50 translate-middle"
            >
              <h3 class="fs-3 fs-md-1 mb-3">畢業季快到了</h3>
              <p>要脫離學生身份，</p>
              <p>邁入人生下個階段了。</p>
              <p>厚重的原文書還有機會翻開嗎？</p>
              <a href="#" class="link-dark py-2 px-c2-lg mt-3"
                >查看更多
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"
                    fill="black"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/activity-2.png"
              alt="繪本徵求"
              class="img-fluid rounded-2"
            />
            <div
              class="roundedWrapper roundedBadge bg-neutral-translucent position-absolute top-50 start-50 translate-middle"
            >
              <h3 class="fs-3 fs-md-1 mb-3">繪本徵求</h3>
              <p>店長說想開個繪本系列...</p>
              <p>有二手繪本想要分享的，</p>
              <p>歡迎上架或是聯繫時空喔！</p>
              <a href="#" class="link-dark py-2 px-c2-lg mt-3"
                >查看更多
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"
                    fill="black"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/activity-3.png"
              alt="會員限定系列"
              class="img-fluid rounded-2"
            />
            <div
              class="roundedWrapper roundedBadge bg-neutral-translucent position-absolute top-50 start-50 translate-middle"
            >
              <h3 class="fs-3 fs-md-1 mb-3">會員限定系列</h3>
              <p>本季會員限定書庫開放，</p>
              <p>更多書籍等你來探索。</p>
              <p>魔法、惡龍、冒險即將到來！</p>
              <a href="#" class="link-dark py-2 px-c2-lg mt-3"
                >查看更多
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"
                    fill="black"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/activity-1.png"
              alt="畢業季快到了"
              class="img-fluid rounded-2"
            />
            <div
              class="roundedWrapper roundedBadge bg-neutral-translucent position-absolute top-50 start-50 translate-middle"
            >
              <h3 class="fs-3 fs-md-1 mb-3">畢業季快到了</h3>
              <p>要脫離學生身份，</p>
              <p>邁入人生下個階段了。</p>
              <p>厚重的原文書還有機會翻開嗎？</p>
              <a href="#" class="link-dark py-2 px-c2-lg mt-3"
                >查看更多
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"
                    fill="black"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/activity-2.png"
              alt="繪本徵求"
              class="img-fluid rounded-2"
            />
            <div
              class="roundedWrapper roundedBadge bg-neutral-translucent position-absolute top-50 start-50 translate-middle"
            >
              <h3 class="fs-3 fs-md-1 mb-3">繪本徵求</h3>
              <p>店長說想開個繪本系列...</p>
              <p>有二手繪本想要分享的，</p>
              <p>歡迎上架或是聯繫時空喔！</p>
              <a href="#" class="link-dark py-2 px-c2-lg mt-3"
                >查看更多
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"
                    fill="black"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/activity-3.png"
              alt="會員限定系列"
              class="img-fluid rounded-2"
            />
            <div
              class="roundedWrapper roundedBadge bg-neutral-translucent position-absolute top-50 start-50 translate-middle"
            >
              <h3 class="fs-3 fs-md-1 mb-3">會員限定系列</h3>
              <p>本季會員限定書庫開放，</p>
              <p>更多書籍等你來探索。</p>
              <p>魔法、惡龍、冒險即將到來！</p>
              <a href="#" class="link-dark py-2 px-c2-lg mt-3"
                >查看更多
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"
                    fill="black"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!-- navigation -->
        <div class="centeredSwiper-prev circleBtn circleBtn-light">
          <span class="mgc_left_fill d-none d-md-block"></span>
          <span class="mgc_left_small_line d-md-none"></span>
        </div>
        <div class="centeredSwiper-next circleBtn circleBtn-light">
          <span class="mgc_right_fill d-none d-md-block"></span>
          <span class="mgc_right_small_line d-md-none"></span>
        </div>
      </div>
    </div>

    <!-- about -->
    <section class="section">
      <div class="container">
        <h2 class="sectionTitle text-center mb-3 mb-md-c4">關於時空書屋</h2>
        <ol class="row list-unstyled g-4 mb-0">
          <li class="col-md-4">
            <div class="transparentCard-serial">
              <h3 class="serialNumber text-secondary-300">01</h3>
              <img
                src="../assets/images/drawing/book.png"
                alt="book"
                class="object-fit-cover"
              />
              <div class="cardBody">
                <h4 class="cardTitle">店裡只有二手書？！</h4>
                <p class="context">
                  店長很喜歡書 <br />
                  但家裡的書越堆越高 <br />
                  每本書都有<br />
                  捨不得丟的理由<br />
                  與值得回味的故事...
                </p>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="transparentCard-serial">
              <h3 class="serialNumber text-secondary-300">02</h3>
              <img
                src="../assets/images/drawing/cat.png"
                alt="cat"
                class="object-fit-cover"
              />
              <div class="cardBody">
                <h4 class="cardTitle">店長是隻懶貓？！</h4>
                <p class="context">
                  疊起來的書 <br />
                  正是舒適的枕頭 <br />
                  但似乎隱隱傳來了夢話般的謎語...
                </p>
              </div>
              <button
                type="button"
                class="rightAngleBtn customBtn-primary-200 border-0 mt-2"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                挑戰店長的謎語
              </button>
            </div>
          </li>
          <li class="col-md-4">
            <div class="transparentCard-serial">
              <h3 class="serialNumber text-secondary-300">03</h3>
              <img
                src="../assets/images/drawing/reading-1.png"
                alt="book"
                class="object-fit-cover"
              />
              <div class="cardBody">
                <h4 class="cardTitle">為二手書找新家？！</h4>
                <p class="context">
                  希望大家 <br />
                  都能找到自己喜歡的書 <br />
                  讓書能夠<br />
                  更多被閱讀的機會
                </p>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </section>

    <!-- recommend -->
    <section class="section bg-linear-primary" id="recommendAnchor">
      <div class="py-4 py-md-0 mb-3 mb-md-5">
        <div class="container">
          <div
            class="d-flex justify-content-between justify-content-md-center align-items-center mb-3 mb-md-c4"
          >
            <h3 class="sectionTitle text-light mx-md-auto">時空店長推薦</h3>
            <a href="./library.html" class="linkMore">查看更多</a>
          </div>
          <div class="row gy-4 d-none d-md-flex">
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex d-md-none">
          <div class="swiper freeMode-swiper-1">
            <div class="swiper-wrapper  mx-c2-lg">
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 py-md-0 mb-3 mb-md-5">
        <div class="container">
          <div
            class="d-flex justify-content-between justify-content-md-center align-items-center mb-3 mb-md-c4"
          >
            <h3 class="sectionTitle text-light mx-md-auto">近期上架</h3>
            <a href="./library.html" class="linkMore">查看更多</a>
          </div>
          <div class="row gy-4 d-none d-md-flex">
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">獄中情人</h4>
                  <a href="#" class="roundedBtn customBtn-primary-200">
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex d-md-none">
          <div class="swiper freeMode-swiper-1">
            <div class="swiper-wrapper  mx-c2-lg">
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                >
                  <a href="#" class="heart-btn">
                    <i class="bi bi-heart"></i>
                  </a>
                  <img
                    src="../assets/images/drawing/cat.png"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="d-flex flex-column">
                    <h4 class="bookTitle">航海王 vol.58</h4>
                    <a
                      href="./books.html"
                      class="roundedBtn customBtn-primary-200"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-2"
                      >
                        <path
                          d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                          fill="#F9F6F3"
                          class="fill-primary-900"
                        />
                      </svg>
                      了解更多
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- exchange -->
    <section class="section" id="exchangeAnchor">
      <div class="container">
        <h2 class="sectionTitle text-center mb-3 mb-md-c4">我要如何換書呢？</h2>
        <div class="row row-gap-c6 d-flex align-items-center">
          <div class="col-lg-4">
            <div class="step1 pe-lg-5">
              <div class="d-flex flex-column align-items-center p-3 gap-2">
                <p class="fs-c1 fs-md-4 fw-semibold">步驟 1</p>
                <img
                  src="../assets/images/drawing/member.png"
                  alt="member"
                  style="height: 150px; width: 150px;"
                />
                <a
                  href="./register.html"
                  class="rightAngleBtn customBtn-primary-200 left-bottom-borderBtn-primary align-self-stretch"
                  >加入會員
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step2 px-lg-4">
              <div class="d-flex flex-column align-items-center p-3 gap-2">
                <p class="fs-c1 fs-md-4 fw-semibold">步驟 2</p>
                <div class="py-2 d-flex flex-column">
                  <img
                    src="../assets/images/drawing/shelf-book.png"
                    alt="shelf-book"
                    style="height: 150px; width: 150px;"
                    class="mx-auto"
                  />
                  <p class="fs-lg-5 fw-semibold">1.上架舊書換取點數</p>
                </div>
                <p class="text-neutral small fs-md-6 fw-semibold ">或是</p>
                <div class="py-2 d-flex flex-column">
                  <img
                    src="../assets/images/drawing/gift.png"
                    alt="gift"
                    style="height: 150px; width: 150px;"
                    class="mx-auto"
                  />
                  <p class="fs-lg-5 fw-semibold">2.捐書給時空換取點數</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step3 ps-lg-5">
              <div class="d-flex flex-column align-items-center p-3 gap-2">
                <p class="fs-c1 fs-md-4 fw-semibold">步驟 3</p>
                <img
                  src="../assets/images/drawing/reading-2.png"
                  alt="reading"
                  style="height: 150px; width: 150px;"
                />
                <a
                  href="./library.html"
                  class="rightAngleBtn customBtn-primary-200 left-bottom-borderBtn-primary align-self-stretch"
                  >前往書庫
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">店長的考驗</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              在某某書提到的<b class="text-secondary-300">某某森林</b
              >裡...<br />
              一旦進到了森林，只要對自己的生命產生一點疑惑，就會部自覺的分裂，不限次數。<br />
              而人類，總是厭惡看到和自己一模一樣的人，大家都不想當第二個誰，於是看到另一個自己，往往就是想除之後快。<br />
              所以有傳說，進去永恆森林的人沒有出來的，而有生還出來的，往往也會消失。因為是自相殘殺到全部陣亡，就是生還的部分已經不是完整的自己，沒有完整的記憶，也不是完整的被別人記得。
            </p>
            <p class="mt-3 mb-2">提問：這座森林是...?</p>
            <div class="d-flex justify-content-center">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1"
                  >永恆森林</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="option2"
                />
                <label class="form-check-label" for="inlineRadio2"
                  >密語森林</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio3"
                  value="option3"
                />
                <label class="form-check-label" for="inlineRadio3"
                  >分裂森林</label
                >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              確認考驗
            </button>
            <a href="./books.html" role="button" class="btn btn-primary"
              >尋找線索</a
            >
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- <script src="../assets/js/navbar.js"></script> -->
  </body>
</html>
