<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div class="container"><%- include('./layout/header'); -%></div>
    <div
      class="banner bg-cover d-flex justify-content-center align-items-center py-5"
      style="background-image: url('../assets/images/banner.png')"
    >
      <div class="d-flex flex-column px-0 py-c4-1 px-md-c4-1 mt-6">
        <div class="mb-c4">
          <h2
            class="text-light mb-2 text-center d-flex flex-column flex-md-row justify-content-center"
          >
            客人，歡迎來到<span class="text-secondary mb-2 mb-md-0"
              >時空書店</span
            >
          </h2>
          <h2 class="text-light text-center">想要點些什麼呢？</h2>
        </div>
        <div class="d-flex flex-column flex-md-row gap-c4 gap-md-c4-1">
          <div class="roundedCard-floatLight">
            <img
              src="../assets/images/drawing/delivery.png"
              alt=""
              class="object-fit-cover mb-3"
            />
            <a
              href="#"
              class="rightAngle-customBtn customBtn-primary left-bottom-borderBtn-primary d-flex justify-content-center"
              >想捐書
            </a>
          </div>
          <div class="roundedCard-floatLight">
            <img
              src="../assets/images/drawing/find.png"
              alt="find"
              class="object-fit-cover mb-3"
            />
            <a
              href="#"
              class="rightAngle-customBtn customBtn-primary left-bottom-borderBtn-primary d-flex justify-content-center"
              >想找書
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- question -->
    <section class="section">
      <div class="container">
        <h2 class="text-center mb-3 mb-md-c4">你有相同的困擾嗎？</h2>
        <div class="row mb-3 mb-md-c4">
          <div class="col-md-6">
            <div class="d-flex justify-content-center">
              <div class="borderlessCard-transparent">
                <img
                  src="../assets/images/drawing/house.png"
                  alt="find"
                  class="object-fit-cover"
                />
                <p class="context deco-quote">
                  家裡的書 <br />
                  留著太佔空間 <br />
                  丟了又嫌可惜嗎？
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-center">
              <div class="borderlessCard-transparent">
                <img
                  src="../assets/images/drawing/coin.png"
                  alt="find"
                  class="object-fit-cover"
                />
                <p class="context deco-quote">
                  書商來撿書 <br />
                  東挑西揀 <br />
                  卻只願出硬幣價？
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <a
            href="#"
            class="rightAngle-customBtn customBtn-primary left-bottom-borderBtn-primary  mx-auto"
            >前往交換
          </a>
        </div>
      </div>
    </section>
    <div class="bg-linear-primary bg-cover py-8">
      <div class="container">
        <!-- swiper -->
        <div class="swiper centeredSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="../assets/images/activity-1.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../assets/images/activity-2.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../assets/images/activity-3.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../assets/images/activity-1.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../assets/images/activity-2.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../assets/images/activity-3.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <!-- navigation -->
          <div class="centeredSwiper-prev square-rounded-prev"></div>
          <div class="centeredSwiper-next square-rounded-next"></div>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="container">
        <h2 class="text-center mb-3 mb-md-c4">關於時空書屋</h2>
        <ol class="row list-unstyled g-4 mb-0">
          <li class="col-md-4">
            <div class="borderlessCard-serial-transparent">
              <h3 class="serialNumber text-secondary-300">01</h3>
              <img
                src="../assets/images/drawing/book.png"
                alt="book"
                class="object-fit-cover"
              />
              <div class="cardBody">
                <h4 class="cardTitle">店裡只有二手書？！</h4>
                <p class="context">
                  店長很喜歡書 <br />
                  但家裡的書越堆越高 <br />
                  每本書都有<br />
                  捨不得丟的理由<br />
                  與值得回味的故事...
                </p>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="borderlessCard-serial-transparent">
              <h3 class="serialNumber text-secondary-300">02</h3>
              <img
                src="../assets/images/drawing/cat.png"
                alt="cat"
                class="object-fit-cover"
              />
              <div class="cardBody">
                <h4 class="cardTitle">店長是隻懶貓？！</h4>
                <p class="context">
                  疊起來的書 <br />
                  正是舒適的枕頭 <br />
                  但似乎隱隱傳來了夢話般的謎語...
                </p>
              </div>
              <button
                type="button"
                class="rightAngle-customBtn customBtn-primary border-0 mt-2"
              >
                挑戰店長的謎語
              </button>
            </div>
          </li>
          <li class="col-md-4">
            <div class="borderlessCard-serial-transparent">
              <h3 class="serialNumber text-secondary-300">03</h3>
              <img
                src="../assets/images/drawing/book.png"
                alt="book"
                class="object-fit-cover"
              />
              <div class="cardBody">
                <h4 class="cardTitle">為二手書找新家？！</h4>
                <p class="context">
                  希望大家 <br />
                  都能找到自己喜歡的書 <br />
                  讓書能夠<br />
                  更多被閱讀的機會
                </p>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </section>

    <!-- Modal 按鈕 -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
