<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>library</title>
  </head>
  <body>
    <div class="bg-linear-primary" style="height: 80px;">
      <%- include('./layout/header'); -%>
    </div>
    <section class="section">
      <div class="container">
        <div>
          <p class="fs-4 mb-2">篩選</p>
          <div class="d-flex">
            <!-- <button
              class="roundedBtn customBtn-primary-200 active me-3"
              type="button"
            >
              全部
            </button> -->
            <button class="roundedBtn customBtn-primary-200 me-3" type="button">
              店內庫藏
            </button>
            <button class="roundedBtn customBtn-primary-200" type="button">
              書友上架
            </button>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <hr />
          <p class="fs-4 mb-2">分類</p>
          <div class="d-flex overflow-x-scroll">
            <button class="roundedBtn customBtn-primary-200 me-3" type="button">
              冒險
            </button>
            <button
              class="roundedBtn customBtn-primary-200 me-3 me-3"
              type="button"
            >
              奇幻
            </button>
            <button class="roundedBtn customBtn-primary-200 me-3" type="button">
              文情
            </button>
            <button class="roundedBtn customBtn-primary-200 me-3" type="button">
              勵志
            </button>
            <button class="roundedBtn customBtn-primary-200 me-3" type="button">
              繪本
            </button>
            <button class="roundedBtn customBtn-primary-200 me-3" type="button">
              工具書
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-linear-primary">
      <div class="container">
        <div class="d-flex justify-content-between mb-3 mb-md-c4">
          <div class="flex-shrink-0">
            <h2 class="sectionTitle text-light">近期推薦</h2>
          </div>
          <div
            class="flex-grow-1 d-flex justify-content-end align-items-center"
          >
            <div class="cardSwiper-pagination pill-rounded-pagination"></div>
          </div>
        </div>
        <!-- <div class="row gy-4">
          
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div
                class="infoCard bg-primary-100 rounded-1 d-flex flex-column justify-content-center"
              >
                <h4 class="text-center">航海王 vol.58</h4>
                <div class="d-none">
                  <ul class="list-unstyled">
                    <li>航海王 vol.58</li>
                    <li>分類：冒險</li>
                    <li>上架方式：店內庫藏</li>
                    <li>交換點數：30</li>
                  </ul>
                  <a href="#" class="roundedBtn customBtn-primary-200"
                    >了解更多</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a
                  href="./books.html
                "
                  class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
        </div> -->
        <div class="swiper cardSwiper-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/books/dragonJara_vol5.png"
                  alt="dragonJara_vol_5"
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">龍族 vol.5</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/books/dragonJara_vol2.png"
                  alt="dragonJara_vol_2"
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">龍族 vol.2</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/books/dragonJara_vol4.png"
                  alt="dragonJara_vol_4"
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">龍族 vol.4</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/books/theLordOfRing_volTheHabit.jpg.png"
                  alt="The Habit"
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">哈比人</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/books/topGlory_volE.jpg.png"
                  alt="topGlory_vol_Extra"
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">全職高手 番外篇</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                  >
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-2"
                    >
                      <path
                        d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                        fill="#F9F6F3"
                        class="fill-primary-900"
                      />
                    </svg>
                    了解更多</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h2 class="sectionTitle text-center mb-3 mb-md-c4">書友上架</h2>
        <div class="row gy-4 d-none d-md-flex">
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/onepiece_vol59.jpg.png"
                alt="onepiece_vol_59"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="#" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/onepiece_vol58.jpg.png"
                alt="onepiece_vol_58"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/narato_volLin.jpg.png"
                alt="narato_vol_臨之書"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">火影忍者 臨之書</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/mistBorn_volE.jpg.png"
                alt="mistBorn_vol_Extra"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">迷霧之子 番外篇</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/narato_volLin.jpg.png"
                alt="narato_vol_臨之書"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">火影忍者 臨之書</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/onepiece_vol58.jpg.png"
                alt="onepiece_vol_58"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/onepiece_vol58.jpg.png"
                alt="onepiece_vol_58"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <a href="#" class="heart-btn">
                <i class="bi bi-heart"></i>
              </a>
              <img
                src="../assets/images/books/mistBorn_volE.jpg.png"
                alt="mistBorn_vol_Extra"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">迷霧之子 番外篇</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="me-2"
                  >
                    <path
                      d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                      fill="#F9F6F3"
                      class="fill-primary-900"
                    />
                  </svg>
                  了解更多</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex d-md-none">
          <div class="col-12">
            <div class="swiper cardSwiper-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div
                    class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                  >
                    <a href="#" class="heart-btn">
                      <i class="bi bi-heart"></i>
                    </a>
                    <img
                      src="../assets/images/books/onepiece_vol59.jpg.png"
                      alt="onepiece_vol_59"
                      class="img-fluid"
                    />
                    <div class="d-flex flex-column">
                      <h4 class="bookTitle">航海王 vol.58</h4>
                      <a href="#" class="roundedBtn customBtn-primary-200">
                        <svg
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="me-2"
                        >
                          <path
                            d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                            fill="#F9F6F3"
                            class="fill-primary-900"
                          />
                        </svg>
                        了解更多</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                  >
                    <a href="#" class="heart-btn">
                      <i class="bi bi-heart"></i>
                    </a>
                    <img
                      src="../assets/images/books/onepiece_vol58.jpg.png"
                      alt="onepiece_vol_58"
                      class="img-fluid"
                    />
                    <div class="d-flex flex-column">
                      <h4 class="bookTitle">航海王 vol.58</h4>
                      <a
                        href="./books.html"
                        class="roundedBtn customBtn-primary-200"
                      >
                        <svg
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="me-2"
                        >
                          <path
                            d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                            fill="#F9F6F3"
                            class="fill-primary-900"
                          />
                        </svg>
                        了解更多</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                  >
                    <a href="#" class="heart-btn">
                      <i class="bi bi-heart"></i>
                    </a>
                    <img
                      src="../assets/images/books/narato_volLin.jpg.png"
                      alt="narato_vol_臨之書"
                      class="img-fluid"
                    />
                    <div class="d-flex flex-column">
                      <h4 class="bookTitle">火影忍者 臨之書</h4>
                      <a
                        href="./books.html"
                        class="roundedBtn customBtn-primary-200"
                      >
                        <svg
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="me-2"
                        >
                          <path
                            d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                            fill="#F9F6F3"
                            class="fill-primary-900"
                          />
                        </svg>
                        了解更多</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                  >
                    <a href="#" class="heart-btn">
                      <i class="bi bi-heart"></i>
                    </a>
                    <img
                      src="../assets/images/books/mistBorn_volE.jpg.png"
                      alt="mistBorn_vol_Extra"
                      class="img-fluid"
                    />
                    <div class="d-flex flex-column">
                      <h4 class="bookTitle">迷霧之子 番外篇</h4>
                      <a
                        href="./books.html"
                        class="roundedBtn customBtn-primary-200"
                      >
                        <svg
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="me-2"
                        >
                          <path
                            d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                            fill="#F9F6F3"
                            class="fill-primary-900"
                          />
                        </svg>
                        了解更多</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="rounded-titleCard rounded-titleCard-sm card-bg-neutral"
                  >
                    <a href="#" class="heart-btn">
                      <i class="bi bi-heart"></i>
                    </a>
                    <img
                      src="../assets/images/books/narato_volLin.jpg.png"
                      alt="narato_vol_臨之書"
                      class="img-fluid"
                    />
                    <div class="d-flex flex-column">
                      <h4 class="bookTitle">火影忍者 臨之書</h4>
                      <a
                        href="./books.html"
                        class="roundedBtn customBtn-primary-200"
                      >
                        <svg
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="me-2"
                        >
                          <path
                            d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                            fill="#F9F6F3"
                            class="fill-primary-900"
                          />
                        </svg>
                        了解更多</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
