<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>library</title>
  </head>
  <body>
    <div class="bg-linear-primary" style="height: 80px;">
      <%- include('./layout/header'); -%>
    </div>
    <section class="section">
      <div class="container">
        <p class="mb-2">篩選</p>
        <div class="d-flex">
          <button
            class="roundedBtn customBtn-primary-200 active me-3"
            type="button"
          >
            全部
          </button>
          <button class="roundedBtn customBtn-primary-200 me-3" type="button">
            店內庫藏
          </button>
          <button class="roundedBtn customBtn-primary-200" type="button">
            書友上架
          </button>
        </div>
        <hr />
        <p class="mb-2">分類</p>
        <div class="d-flex">
          <button class="roundedBtn customBtn-primary-200 me-3" type="button">
            冒險
          </button>
          <button
            class="roundedBtn customBtn-primary-200 me-3 me-3"
            type="button"
          >
            奇幻
          </button>
          <button class="roundedBtn customBtn-primary-200 me-3" type="button">
            文情
          </button>
          <button class="roundedBtn customBtn-primary-200 me-3" type="button">
            勵志
          </button>
          <button class="roundedBtn customBtn-primary-200 me-3" type="button">
            繪本
          </button>
          <button class="roundedBtn customBtn-primary-200 me-3" type="button">
            工具書
          </button>
        </div>
      </div>
    </section>
    <section class="section bg-linear-primary">
      <div class="container">
        <div class="d-flex justify-content-between mb-3 mb-md-c4">
          <div class="flex-shrink-0">
            <h2 class="sectionTitle text-light">近期推薦</h2>
          </div>
          <div
            class="flex-grow-1 d-flex justify-content-end align-items-center"
          >
            <div class="cardSwiper-pagination pill-rounded-pagination"></div>
          </div>
        </div>
        <!-- <div class="row gy-4">
          
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div
                class="infoCard bg-primary-100 rounded-1 d-flex flex-column justify-content-center"
              >
                <h4 class="text-center">航海王 vol.58</h4>
                <div class="d-none">
                  <ul class="list-unstyled">
                    <li>航海王 vol.58</li>
                    <li>分類：冒險</li>
                    <li>上架方式：店內庫藏</li>
                    <li>交換點數：30</li>
                  </ul>
                  <a href="#" class="roundedBtn customBtn-primary-200"
                    >了解更多</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a
                  href="./books.html
                "
                  class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
        </div> -->
        <div class="swiper cardSwiper-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                    >了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                    >了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                    >了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                    >了解更多</a
                  >
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="rounded-titleCard rounded-titleCard-lg card-bg-neutral"
              >
                <a href="#" class="heart-btn">
                  <i class="bi bi-heart"></i>
                </a>
                <img
                  src="../assets/images/drawing/cat.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="d-flex flex-column">
                  <h4 class="bookTitle">航海王 vol.58</h4>
                  <a
                    href="./books.html"
                    class="roundedBtn customBtn-primary-200"
                    >了解更多</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h2 class="sectionTitle text-center mb-3 mb-md-c4">書友上架</h2>
        <div class="row gy-4 d-none d-md-flex">
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <img
                src="../assets/images/drawing/cat.png"
                alt=""
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <h4 class="bookTitle">航海王 vol.58</h4>
                <a href="./books.html" class="roundedBtn customBtn-primary-200"
                  >了解更多</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
