<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>member</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="section bg-linear-primary pt-c6">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img
                  src="../assets/images/drawing/cat.png"
                  alt="..."
                  class="object-fit-cover card-bg-neutral-translucent"
                  style="width: 100px; height: 100px;"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column">
                    <p class="text-light">
                      Hi,<span
                        class="text-secondary-300"
                        id="memberNickname"
                      ></span>
                    </p>
                    <p class="text-light">歡迎來到時空書屋</p>
                  </div>
                  <button
                    type="button"
                    class="roundedBtn customBtn-primary-200"
                    id="logoutBtn"
                  >
                    登出
                  </button>
                </div>
                <div class="d-flex mt-4">
                  <p class="text-light me-4">會員點數：60</p>
                  <p class="text-light">押金點數：0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row gy-4 d-flex justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div class="rounded-titleCard rounded-titleCard-lg card-bg-neutral">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="memberInfo-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#memberInfo-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="memberInfo-tab-pane"
                    aria-selected="true"
                  >
                    會員資料
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="favorite-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#favorite-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="favorite-tab-pane"
                    aria-selected="false"
                    disabled
                  >
                    關注收藏
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="profile-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="profile-tab-pane"
                    aria-selected="false"
                    disabled
                  >
                    我的書攤
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="contact-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#contact-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="contact-tab-pane"
                    aria-selected="false"
                    disabled
                  >
                    聯絡書店
                  </button>
                </li>
              </ul>
              <!-- tabPane -->
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active pt-4"
                  id="memberInfo-tab-pane"
                  role="tabpanel"
                  aria-labelledby="memberInfo-tab"
                  tabindex="0"
                >
                  <h2 class="ms-3">會員資料</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-8">
                      <!-- <div class="mb-4">
                        <label for="userID" class="form-label mb-1"
                          >userID</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="userID"
                          readonly
                        />
                      </div> -->
                      <div class="mb-4">
                        <label for="userNickname" class="form-label mb-1"
                          >暱稱</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="userNickname"
                          readonly
                        />
                      </div>
                      <div class="mb-4">
                        <label for="userEmail" class="form-label mb-1"
                          >信箱</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          id="userEmail"
                          readonly
                        />
                      </div>
                      <!-- <div class="mb-4">
                        <label for="userPhone" class="form-label mb-1"
                          >Phone</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="userPhone"
                          value="0933303003"
                        />
                      </div> -->
                      <div class="mb-4">
                        <label for="userPassword" class="form-label mb-1"
                          >密碼</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="userPassword"
                          value="********"
                          readonly
                        />
                      </div>
                      <div class="d-flex justify-content-center">
                        <button
                          type="button"
                          class="roundedBtn customBtn-primary-200"
                          data-bs-toggle="modal"
                          data-bs-target="#editMemberInfo"
                        >
                          編輯
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="favorite-tab-pane"
                  role="tabpanel"
                  aria-labelledby="favorite-tab"
                  tabindex="0"
                >
                  <h2>關注收藏</h2>
                  <div class="row d-flex justify-content-center">
                    <div class="col-8"></div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="profile-tab-pane"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                  tabindex="0"
                >
                  ...
                </div>
                <div
                  class="tab-pane fade"
                  id="contact-tab-pane"
                  role="tabpanel"
                  aria-labelledby="contact-tab"
                  tabindex="0"
                >
                  ...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="editMemberInfo"
      tabindex="-1"
      aria-labelledby="editMemberInfoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editMemberInfoLabel">編輯資料</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="d-flex flex-column">
              <div class="mb-3">
                <label for="editNickname" class="form-label mb-1">暱稱</label>
                <input type="text" class="form-control" id="editNickname" />
              </div>
              <div class="mb-3">
                <label for="editEmail" class="form-label mb-1">信箱</label>
                <input
                  type="email"
                  class="form-control"
                  id="editEmail"
                  placeholder="請輸入信箱"
                />
              </div>
              <div class="mb-3">
                <label for="editPassword" class="form-label mb-1">密碼</label>
                <input
                  type="password"
                  class="form-control"
                  id="editPassword"
                  value="********"
                />
              </div>
              <div class="mb-3">
                <label for="chkEditPassword" class="form-label mb-1"
                  >密碼確認</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="chkEditPassword"
                  value="********"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary">確認修改</button>
            <a
              href="./books.html"
              role="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              >取消修改</a
            >
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- <script src="../assets/js/member.js"></script> -->
  </body>
</html>
